/* CSS file for wordpress x3dom plugin */

x3d {
  background: lightgrey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(lightgrey, DimGray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightgrey, DimGray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightgrey, DimGray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightgrey, DimGray); /* Standard syntax (must be last) */
}